.storybook-header {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  padding: 60px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  font-weight: 700;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  vertical-align: top;
}

.storybook-header button + button {
  margin-left: 24px;
}

.storybook-header .welcome {
  color: hsl(0, 0%, 20%);
  font-size: 14px;
  margin-right: 10px;
}
